<script>

var drawProfile = function (data){
  console.log('hoi,', data);

    nv.addGraph(function() {
    var chart = nv.models.lineChart()
                  .x(function(d) { return d[0] })
                  .y(function(d) { return d[1] })
                  .clipEdge(true);

    chart.xAxis
        .tickFormat(d3.format(',.2f'));

    chart.yAxis
        .tickFormat(d3.format(',.2f'));

    d3.select('#d3-profile svg')
      .datum(data)
        .transition().duration(500).call(chart);

    nv.utils.windowResize(chart.update);

    return chart;
  });
}

</script>

<style type="text/css">

svg {
  font-size: 10px;
}

    </style>	

<div id="d3-profile">
  <svg height="500px"></svg>
</div>
