<script type="text/javascript" src="{{ STATIC_URL }}vendor/d3js/d3.v3.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}nxt_graph/timeseries.js"></script>

<style type="text/css">

svg {
  font-size: 10px;
}

.axis {
  shape-rendering: crispEdges;
}

.axis path, .axis line {
  fill: none;
  stroke-width: .5px;
}

.x.axis path {
  stroke: #000;
}

.x.axis line {
  stroke: #fff;
  stroke-opacity: .5;
}

.y.axis line {
  stroke: #ddd;
}

path.line {
  fill: none;
  stroke: #000;
  stroke-width: .5px;
}

rect.pane {
  cursor: move;
  fill: none;
  pointer-events: all;
}

    </style>	

<div id="d3-timeseries">HALLO Iedereen..</div>